<h2>Xóa sản phẩm</h2>
<div class="col-6">
  <form [formGroup]="productForm" (ngSubmit)="deleteProduct(id)" novalidate>
    <div class="row mb-3">
      <div class="col-4">
        <label for="id" class="form-label">Mã sản phẩm: </label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="id" formControlName="id" aria-describedby="idError">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="name" class="form-label">Tên sản phẩm: </label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="name" formControlName="name" aria-describedby="nameError">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="price" class="form-label">Giá sản phẩm: </label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="price" formControlName="price" aria-describedby="priceError">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="description" class="form-label">Mô tả: </label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="description" formControlName="description"
               aria-describedby="descriptionError">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4"></div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </form>
</div>
