form {
  width: 40%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  margin-left: 30%;
  margin-bottom: 30px;
}
input[type=text], input[type=email], input[type=number], input[type= date], textarea, select, input[type= password]{
  width: 100%;
  padding: 12px 0px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#submit{
  margin-left: 45%;
}
button{
  background-color: cadetblue;
  height: 30px;
  width: 70px;
  border-radius: 5px;
}

input[type= radio]{
  margin-left: 50px;
}

.text-danger{
  color: red;
}
