<div id="container">
  <a>
    <button routerLink="/customer/create" type="button" class="btn btn-primary animationTop delay-01" value="Add New"
            style="float: right; font-size: 16px; margin-top: 57px">Add New
    </button>
  </a>
  <div>
    <form class="d-flex animationTop delay-02" role="search" style="float: left; font-size: 17px; margin-top: 57px">
      <input class="form-control me-2" name="names" type="search" placeholder="Search name" aria-label="Search" #name>
      <select class="form-select animationTop delay-03" aria-label="Default select example" name="customer_type"
              style="padding-right: 10px" #customerType>
        <option selected value="">Customer type:</option>
        <option value="Diamond">Diamond</option>
        <option value="Platinum">Platinum</option>
        <option value="Gold">Gold</option>
        <option value="Silver">Silver</option>
        <option value="Member">Member</option>
      </select>
      <button style="margin-left: 10px" class="btn btn-primary animationTop delay-04" type="submit"
              (click)="search(name.value, customerType.value)">Search
      </button>
    </form>
  </div>
  <h1 style="margin-left: 45%; margin-top: 53px">CUSTOMER</h1>
  <table class="table table-hover" style="text-align: center">
    <thead>
    <tr class="animationTop delay-05">
      <th>#</th>
      <th>Customer Name</th>
      <th>Day Of Birth</th>
      <th>Gender</th>
      <th>ID CARD</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Customer Type</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center" *ngFor="let item of customer |paginate:{itemsPerPage: 5, currentPage: p}"
        class="animationTop delay-06">
      <td class="animationTop delay-07">{{item.id}}</td>
      <td class="animationTop delay-07">{{item.name}}</td>
      <td class="animationTop delay-07">{{item.dayOfBirth}}</td>
      <td class="animationTop delay-07" *ngIf="item.gender==1">Male</td>
      <td class="animationTop delay-07" *ngIf="item.gender==0">Female</td>
      <td class="animationTop delay-07" *ngIf="item.gender==2">Other</td>
      <td class="animationTop delay-07">{{item.idCard}}</td>
      <td class="animationTop delay-07">{{item.phoneNumber}}</td>
      <td class="animationTop delay-07">{{item.email}}</td>
      <td class="animationTop delay-07">{{item.address}}</td>
      <td class="animationTop delay-07" *ngIf="item.customerType">{{item.customerType.name}}</td>


      <td>
        <a [routerLink]="['/customer/edit/', item.id]" class="btn btn-warning animationTop delay-08"
           style="font-size: 14px">Edit</a>
      </td>
      <td>
        <a class="btn btn-danger animationTop delay-09" type="button"
           data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 14px" (click)="temp=item">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="snow"></div>
  <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"
         style="background-image: linear-gradient(to top,  #B5B5B5, #B5B5B5,#8273B0); overflow:hidden;">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">Xóa thông tin sản phẩm</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 style="color:red">Delete customer ?<br> {{temp.name}}</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="deleteCustomer()" data-bs-dismiss="modal">Xóa</button>
      </div>
    </div>
  </div>
</div>

