<div id="container">
  <a>
    <button routerLink="/customer/edit" type="button" class="btn btn-primary" value="Back"
            style="float: right; font-size: 16px; margin-top: 57px">Back
    </button>
  </a>
  <h1 style="margin-left: 40%; margin-top: 50px">edit CUSTOMER</h1>

  <form class="form" [formGroup]="editForm" (ngSubmit)="editCustomer()" style="text-align: center" *ngIf="editForm">
    <div style="margin-right: 500px; margin-left: 500px; color: white">
      <div>
        <label class="form-label animationTop delay-03">Customer Name:</label><br>
        <!--        <span class="chutieude"-->
        <!--              *ngIf="editForm.controls.name.hasError('required')&& editForm.controls.name.touched">Cannot be left blank !</span>-->
        <!--        <span class="chutieude" *ngIf="editForm.controls.name.hasError('pattern')&& editForm.controls.name.touched">The name is not in the correct format !</span>-->
        <input class="form-control animationTop delay-04" type="text" placeholder="Customer Name"
               formControlName="name"/>
      </div>

      <div>
        <label class="form-label animationTop delay-05"> Day Of Birth :</label><br>
        <!--        <span class="chutieude"-->
        <!--              *ngIf="editForm.controls.dayOfBirth.hasError('invalid')&& editForm.controls.dayOfBirth.touched">You are not 18+</span>-->
        <input class="form-control animationTop delay-06" type="date" placeholder="Date Of Birth"
               formControlName="dayOfBirth"/>
        <div>
          <label class="form-label animationTop delay-07">Gender :</label><br>
          <select style="font-size: 15px; text-align: center" class="animationTop delay-08" formControlName="gender">
            <option value="">Gender:</option>
            <option value="1">Male</option>
            <option value="0">Female</option>
            <option value="2">Other</option>
          </select>
        </div>

        <div>
          <label class="form-label animationTop delay-08">ID Card :</label><br>
          <span class="chutieude"
                *ngIf="editForm.controls.idCard.hasError('required') && editForm.controls.idCard.touched">Cannot be left blank !</span>
          <span class="chutieude"
                *ngIf="editForm.controls.idCard.hasError('pattern') && editForm.controls.idCard.touched">Not in the correct format !</span>
          <input class="form-control animationTop delay-09" type="text" placeholder="ID Card" formControlName="idCard"/>
        </div>

        <div>
          <label class="form-label animationTop delay-11">Phone Number :</label><br>
          <span class="chutieude"
                *ngIf="editForm.controls.phoneNumber.hasError('required') && editForm.controls.phoneNumber.touched">Cannot be left blank !</span>
          <span class="chutieude"
                *ngIf="editForm.controls.phoneNumber.hasError('pattern') && editForm.controls.phoneNumber.touched">Not in the correct format !</span>
          <input class="form-control animationTop delay-12" type="text" placeholder="Phone Number"
                 formControlName="phoneNumber"/>
        </div>

        <div>
          <label class="form-label animationTop delay-13">Email :</label><br>
          <span class="chutieude"
                *ngIf="editForm.controls.email.hasError('required') && editForm.controls.email.touched">Cannot be left blank !</span>
          <span class="chutieude"
                *ngIf="editForm.controls.email.hasError('pattern') && editForm.controls.email.touched">Not in the correct format !</span>
          <input class="form-control animationTop delay-14" type="text" placeholder="Email" formControlName="email"/>
        </div>

        <div>
          <label class="form-label animationTop delay-15">Address :</label><br>
          <span class="chutieude"
                *ngIf="editForm.controls.address.hasError('required') && editForm.controls.address.touched">Cannot be left blank !</span>
          <span class="chutieude"
                *ngIf="editForm.controls.address.hasError('maxLength') && editForm.controls.address.touched">Address is too long</span>
          <input class="form-control animationTop delay-16" type="text" placeholder="Address"
                 formControlName="address"/>
        </div>

        <div>
          <label class="form-label animationTop delay-17">Customer Type :</label><br>
          <select style="font-size: 15px;" class="animationTop delay-18" formControlName="customerType" [compareWith]="compareWith">
            <option value="">Customer type :</option>
            <option *ngFor="let item of customerType" [ngValue]="item">{{item.name}}</option>
          </select>
        </div>

      </div>
      <div style="text-align: center">
        <input type="submit" value="Save" class="m-3 btn btn-info animationTop delay-19"></div>
    </div>
  </form>
</div>
