<h1>Danh sách sản phẩm</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Thể loại</td>
    <td>Sửa</td>
    <td>Xóa</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category?.name}}</td>
    <td><a class="btn btn-primary" [routerLink]="['/product/edit',product.id]">Edit</a></td>
    <td>
      <button type="button" class="btn btn-primary" style="background: red" (click)="temp = product"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Bạn có muốn xóa sản phẩm </span><span style="color: red">{{temp.name}}</span><span> này không ?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="delete(temp.id)" data-bs-dismiss="modal" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
